Repository tulsawebdevs/website: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest, docker_eslint, docker_frontend_build

vitest:
  name: Vitest
  language: system
  entry: docker-compose run --rm -T app npm run
  args:
  - test
  - run
  pass_filenames: false

docker_eslint:
  name: ESLint
  language: system
  entry: docker-compose run --rm -T app npm run
  args:
  - lint

docker_frontend_build:
  name: Frontend Build
  language: system
  entry: docker-compose run --rm -T app npm run
  args:
  - build
  pass_filenames: false

fix(ci): quote tag pattern
  .github/workflows/deploy-frontend.yml
Due: none

fix(ci): use prod branch frontend-ci
  .github/workflows/deploy-frontend.yml
Due: none

fix(ci): run frontend check and build in parallel
  .github/workflows/deploy-frontend.yml
Due: none

fix(ci): update branch triggers
  .github/workflows/frontend-ci.yml
Due: none

docs: update branch names
  CONTRIBUTING.md
Due: none

fix: update referenced branch name to `main`
  .github/workflows/deploy-frontend.yml
Due: none

docs(api): add authorship to responses, update description
  public/docs/api/v0/openapi.json
Due: none

chore(ci): split triggers for frontend checks and build
  .github/workflows/deploy-frontend.yml
  .github/workflows/frontend-ci.yml
Due: none

chore(ops): update site for custom domain
  astro.config.mjs
Due: none

chore(ci): match example astro gh-pages deploy
  .github/workflows/deploy-frontend.yml
Due: none

debug(ci): add gh context echo in deploy job
  .github/workflows/deploy-frontend.yml
Due: none

chore(deps): pin deps and update name and engine
  package-lock.json
  package.json
Due: vitest, docker_eslint

chore(ci): remove context dump
  .github/workflows/deploy-frontend.yml
Due: none

chore: update env with clerk variables
  .env.example
  src/ts-env.d.ts
Due: none

chore: install clerk, nanostores
  package-lock.json
Due: vitest, docker_eslint

feat: Clerk init & state container
  src/features/auth/clerk.ts
Due: vitest, docker_eslint, docker_frontend_build

feat: react hook for clerk client
  src/features/auth/hooks.ts
Due: vitest, docker_eslint, docker_frontend_build

feat: add User Button
  src/features/auth/UserButton.tsx
Due: vitest, docker_eslint, docker_frontend_build

feat: modal component
  src/features/navigation/useModal.css.ts
  src/features/navigation/useModal.tsx
Due: vitest, docker_eslint, docker_frontend_build

feat: Sign In Button
  src/features/auth/SignInButton.tsx
Due: vitest, docker_eslint, docker_frontend_build

feat: header nav-bar component
  src/features/navigation/Header.css.ts
  src/features/navigation/Header.tsx
Due: vitest, docker_eslint, docker_frontend_build

chore: add clerk init script & Header to layout
  src/layouts/Layout.astro
Due: docker_frontend_build

chore: turn off some eslint rules
  eslint.config.js
Due: none

chore: cleanup unused CSS classes
  src/pages/index.astro
Due: docker_frontend_build

docs: add draft of auth docs
  src/content/docs/auth/index.md
Due: none

fix: add basic brand stylea to auth components
  package-lock.json
  src/features/auth/clerk.ts
  src/features/navigation/Header.css.ts
Due: vitest, docker_eslint, docker_frontend_build

refactor: simplify sign-in button
  src/features/auth/SignInButton.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: improve header coplors & contrast
  src/features/auth/SignInButton.css.ts
  src/features/auth/SignInButton.tsx
  src/features/navigation/Header.css.ts
Due: vitest, docker_eslint, docker_frontend_build

chore: remove custom modal implementation
  src/features/navigation/useModal.css.ts
  src/features/navigation/useModal.tsx
Due: vitest, docker_eslint, docker_frontend_build

chore: add user/session hooks
  src/features/auth/hooks.ts
Due: vitest, docker_eslint, docker_frontend_build

chore: add/consolodate components into one file
  src/features/auth/SignInButton.tsx
  src/features/auth/UserButton.tsx
  src/features/auth/components.ts
  src/features/auth/components.tsx
  src/features/navigation/Header.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: correct filename for auth component styles
  src/features/auth/components.css.ts
  src/features/auth/components.tsx
Due: vitest, docker_eslint, docker_frontend_build

chore: add `<RenderIfAuthed/>` utility component
  src/features/auth/components.tsx
  src/features/navigation/Header.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: improve `<RenderIfAuthorized/>` component API
  src/features/auth/components.tsx
  src/features/navigation/Header.tsx
Due: vitest, docker_eslint, docker_frontend_build

chore: update lockfile
  package-lock.json
Due: vitest, docker_eslint

fix: forward sign-in button ref
  src/features/auth/components.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: pass conditions to `<IfAuthorized/>` render props
  src/features/auth/components.tsx
Due: vitest, docker_eslint, docker_frontend_build

docs: update auth docs
  src/content/docs/auth/index.md
Due: none

docs: move auth docs out of content directory
  src/features/auth/README.md
Due: none

chore: remove duplicate key in eslint config
  eslint.config.js
Due: none

Path conditions:
  vitest: any of: ^(src/.+/.+\.(js|ts)x*|package(-lock)?\.json)
  docker_eslint: any of: ^(src/.+/.+\.(js|ts)x*|package(-lock)?\.json)
  docker_frontend_build: any of: ^src/.+/.+\.(astro|(js|ts)x*)
