Repository tulsawebdevs/website: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest, docker_eslint, docker_frontend_build

vitest:
  name: Vitest
  language: system
  entry: docker-compose run --rm -T app npm run
  args:
  - test
  - run
  pass_filenames: false

docker_eslint:
  name: ESLint
  language: system
  entry: docker-compose run --rm -T app npm run
  args:
  - lint

docker_frontend_build:
  name: Frontend Build
  language: system
  entry: docker-compose run --rm -T app npm run
  args:
  - build
  pass_filenames: false

fix: remove colon from bearer token
  src/features/voting/NewProposalFormButton.tsx
  src/features/voting/ProposalCard.tsx
Due: vitest, docker_eslint, docker_frontend_build

chore: add browser env globals to eslint config
  eslint.config.js
Due: none

chore: add draft list components
  package-lock.json
  package.json
  src/features/ui/checkbox.tsx
  src/features/ui/dropdown-menu.tsx
  src/features/ui/table.tsx
  src/features/voting/DraftProposalList.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: better error messages
  src/features/voting/NewProposalFormErrors.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: `useIfAuthorized` redirect to window.location
  src/features/auth/hooks.ts
Due: vitest, docker_eslint, docker_frontend_build

chore: add `ProtectedTrigger` helper component
  src/features/auth/components.tsx
Due: vitest, docker_eslint, docker_frontend_build

refactor: use `ProposalFormButton` for new & draft
  src/features/voting/ProposalFormButton.tsx
  src/features/voting/ProposalFormErrors.tsx
  src/features/voting/ProposalList.tsx
  src/pages/drafts.astro
Due: vitest, docker_eslint, docker_frontend_build

fix: finish DraftProposalList component
  src/features/voting/DraftProposalList.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: `updated` schema is always ISO8601, not null
  public/docs/api/v0/openapi.json
Due: none

fix: remove random rendered semicolon
  src/features/voting/ProposalCard.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: align schema with backend
  public/docs/api/v0/openapi.json
  src/sdk.ts
Due: none

fix: don't confirm for single draft delete
  src/features/voting/DraftProposalList.tsx
Due: vitest, docker_eslint, docker_frontend_build

types: fix type error from schema change
  src/features/voting/ProposalInterestVote.tsx
Due: vitest, docker_eslint, docker_frontend_build

chore: remove unused `Expirable` schema
  public/docs/api/v0/openapi.json
  src/sdk.ts
Due: none

chore(ui): added loading component
  src/features/ui/LoadingSpinner.tsx
Due: vitest, docker_eslint, docker_frontend_build

chore: use local api in dev mode
  .env.development
  src/constants.ts
  src/sdk.ts
Due: none

fix: hide load more when no proposals remaining
  src/features/voting/ProposalList.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: sync with backend vote schema
  src/features/voting/ProposalCard.tsx
  src/features/voting/ProposalInterestVote.tsx
  src/features/voting/ProposalLikeButtons.tsx
  src/sdk.ts
Due: vitest, docker_eslint, docker_frontend_build

chore(proposals): updates for voting and showing user votes
  src/features/voting/ProposalCard.tsx
  src/features/voting/ProposalList.tsx
  src/sdk.ts
Due: vitest, docker_eslint, docker_frontend_build

fix: fetch proposals when not signed in
  src/features/voting/ProposalList.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: swap like button positions
  src/features/voting/ProposalLikeButtons.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: make vote values numbers, not strings
  package.json
  public/docs/api/v0/openapi.json
  replaceInFile.config.cjs
  replaceInFile.config.json
  src/sdk.ts
Due: vitest, docker_eslint

fix: pin to v7 of replace-in-file
  package.json
  replaceInFile.config.cjs
  replaceInFile.config.json
  src/sdk.ts
Due: vitest, docker_eslint

fix: handle vote values as numbers, not strings
  src/features/voting/ProposalCard.tsx
  src/features/voting/ProposalInterestVote.tsx
  src/features/voting/ProposalLikeButtons.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: fix lint errors
  src/features/voting/ProposalLikeButtons.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: reset on error & set draft=true on reset
  src/features/voting/ProposalFormButton.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: close form on successful proposal submission
  src/features/voting/ProposalFormButton.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: swap like button positions (#277)
  src/features/voting/ProposalLikeButtons.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: use proposal id for list key
  src/features/voting/ProposalList.tsx
Due: vitest, docker_eslint, docker_frontend_build

chore: add session token to proposal list fetch
  src/features/voting/ProposalList.tsx
Due: vitest, docker_eslint, docker_frontend_build

chore: update proposal list loading
  src/features/ui/LoadingSpinner.tsx
  src/features/voting/ProposalList.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: update openapi schema
  public/docs/api/v0/openapi.json
  src/sdk.ts
Due: none

fix: use SSR agnostic loading spinner
  src/features/ui/LoadingSpinner.tsx
  src/features/ui/button.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: tidy loading states; show proposals w/o auth
  src/features/ui/button.tsx
  src/features/voting/ProposalCard.tsx
  src/features/voting/ProposalList.tsx
Due: vitest, docker_eslint, docker_frontend_build

chore: remove unneccessary dep
  package-lock.json
  package.json
Due: vitest, docker_eslint

fix: remove dead code
  src/features/ui/button.tsx
Due: vitest, docker_eslint, docker_frontend_build

chore: lint
  src/features/ui/LoadingSpinner.tsx
Due: vitest, docker_eslint, docker_frontend_build

Path conditions:
  vitest: any of: ^(src/.+/.+\.(js|ts)x*|package(-lock)?\.json)
  docker_eslint: any of: ^(src/.+/.+\.(js|ts)x*|package(-lock)?\.json)
  docker_frontend_build: any of: ^src/.+/.+\.(astro|(js|ts)x*)
