Repository tulsawebdevs/website: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest, docker_eslint, docker_frontend_build

vitest:
  name: Vitest
  language: system
  entry: docker-compose run --rm -T app npm run
  args:
  - test
  - run
  pass_filenames: false

docker_eslint:
  name: ESLint
  language: system
  entry: docker-compose run --rm -T app npm run
  args:
  - lint

docker_frontend_build:
  name: Frontend Build
  language: system
  entry: docker-compose run --rm -T app npm run
  args:
  - build
  pass_filenames: false

fix: correct import aliases
  components.json
  tsconfig.json
Due: none

chore: cleanup api schema more
  public/docs/api/v0/openapi.json
Due: none

chore: regenerate sdk
  src/sdk.ts
Due: none

chore(docs): update to simplified schema
  public/docs/api/v0/openapi.json
Due: none

chore(schema): update nested routes
  public/docs/api/v0/openapi.json
Due: none

chore(schema): add close route for proposals
  public/docs/api/v0/openapi.json
Due: none

chore(api): add authorName to proposal schema
  public/docs/api/v0/openapi.json
Due: none

refactor!: cleanup
  public/docs/api/v0/openapi.bak.json
  public/docs/api/v0/openapi.json
  src/features/auth/components.css.ts
  src/features/auth/components.tsx
  src/features/auth/hooks.ts
  src/features/navigation/Header.css.ts
  src/features/navigation/Header.tsx
  src/features/ui/button.tsx
  src/features/ui/deprecatedTabs.tsx
  src/features/voting/NewProposalFormButton.tsx
  src/features/voting/ProposalCard.tsx
  src/features/voting/ProposalInterestVote.tsx
  src/features/voting/ProposalLikeButtons.tsx
  src/features/voting/ProposalList.tsx
  src/features/voting/ProposalStatusBadge.tsx
  src/features/voting/card/ProposalCard.tsx
  src/features/voting/list/EmptyList.astro
  src/features/voting/list/LoadMoreProposalsButton.tsx
  src/features/voting/list/ProposalList.astro
  src/features/voting/services/proposal.ts
  src/features/voting/types.ts
  src/pages/proposals.astro
  src/sdk.ts
Due: vitest, docker_eslint, docker_frontend_build

chore: add api dev convenience scripts
  package.json
Due: vitest, docker_eslint

refactor!: overhaul api spec
  public/docs/api/v0/openapi2.json
Due: none

types: export more accurate clerk types
  src/features/auth/clerk.ts
Due: vitest, docker_eslint, docker_frontend_build

fix: smooth out API inconsistencies
  public/docs/api/v0/openapi.json
  src/sdk.ts
Due: none

fix: update api spec
  public/docs/api/v0/openapi.json
Due: none

chore: general cleanup & polish
  package.json
  public/docs/api/v0/openapi.json
  src/features/auth/hooks.ts
  src/features/voting/NewProposalFormButton.tsx
  src/features/voting/ProposalCard.tsx
  src/features/voting/ProposalInterestVote.tsx
  src/features/voting/ProposalLikeButtons.tsx
  src/features/voting/ProposalList.tsx
  src/features/voting/ProposalStatusBadge.tsx
  src/sdk.ts
Due: vitest, docker_eslint, docker_frontend_build

chore: remove unused imports
  src/features/voting/ProposalInterestVote.tsx
Due: vitest, docker_eslint, docker_frontend_build

chore: regenerate SDK
  src/sdk.ts
Due: none

chore: pin dependencies
  package-lock.json
  package.json
Due: vitest, docker_eslint

fix: migrate proposal form to v0.0.5 API
  src/features/voting/NewProposalFormButton.tsx
  src/features/voting/NewProposalFormErrors.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix!: improve data loading & proposal form
  eslint.config.js
  package-lock.json
  package.json
  public/docs/api/v0/openapi.json
  src/features/auth/hooks.ts
  src/features/ui/form.tsx
  src/features/voting/NewProposalFormButton.tsx
  src/features/voting/NewProposalFormErrors.tsx
  src/sdk.ts
Due: vitest, docker_eslint, docker_frontend_build

fix: restore zod version from rebase error
  package-lock.json
  package.json
Due: vitest, docker_eslint

fix: typo in api spec
  public/docs/api/v0/openapi.json
Due: none

chore: add operationId fields in api spec
  public/docs/api/v0/openapi.json
Due: none

fix: generate sdk in dev script, not post-install
  .gitignore
  package.json
  src/features/voting/NewProposalFormButton.tsx
Due: vitest, docker_eslint, docker_frontend_build

Path conditions:
  vitest: any of: ^(src/.+/.+\.(js|ts)x*|package(-lock)?\.json)
  docker_eslint: any of: ^(src/.+/.+\.(js|ts)x*|package(-lock)?\.json)
  docker_frontend_build: any of: ^src/.+/.+\.(astro|(js|ts)x*)
