Repository tulsawebdevs/website: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest, docker_eslint, docker_frontend_build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.2.5
          - prettier-plugin-astro@0.13.0
          - prettier-plugin-tailwindcss@0.5.11
  - repo: local
    hooks:
      - id: vitest
        name: Vitest
        language: system
        entry: docker-compose run --rm -T app npm run
        args: [test, run]
        files: '^(src/.+/.+\.(js|ts)x*|package(-lock)?\.json)'
        pass_filenames: false
      - id: docker_eslint
        name: ESLint
        language: system
        entry: docker-compose run --rm -T app npm run
        args: [lint]
        files: '^(src/.+/.+\.(js|ts)x*|package(-lock)?\.json)'
      - id: docker_frontend_build
        name: Frontend Build
        language: system
        entry: docker-compose run --rm -T app npm run
        args: [build]
        files: '^src/.+/.+\.(astro|(js|ts)x*)'
        pass_filenames: false

fix: tidy loading states; show proposals w/o auth
  src/features/ui/button.tsx
  src/features/voting/ProposalCard.tsx
  src/features/voting/ProposalList.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: remove dead code
  src/features/ui/button.tsx
Due: vitest, docker_eslint, docker_frontend_build

chore: update proposal list loading
  src/features/ui/LoadingSpinner.tsx
  src/features/voting/ProposalList.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: use SSR agnostic loading spinner
  src/features/ui/LoadingSpinner.tsx
  src/features/ui/button.tsx
Due: vitest, docker_eslint, docker_frontend_build

chore: lint
  src/features/ui/LoadingSpinner.tsx
Due: vitest, docker_eslint, docker_frontend_build

chore: remove unneccessary dep
  package-lock.json
  package.json
Due: vitest, docker_eslint

fix: use human dates in drafts
  src/features/voting/DraftProposalList.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: disable save as draft button for now
  src/features/voting/ProposalFormButton.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: remove draft button for now
  src/features/voting/ProposalFormButton.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: don't throw on successful proposal
  src/features/voting/ProposalFormButton.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: don't use nested load callback
  src/features/voting/DraftProposalList.tsx
  src/features/voting/ProposalList.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: load initial proposals once, even logged out
  src/features/voting/ProposalList.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: append proposals on load
  src/features/voting/ProposalList.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix(proposal card): break words; display summary;
  src/features/voting/ProposalCard.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: move proposal metadata to footer
  src/features/voting/ProposalCard.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: minor ui fixes
  src/features/voting/ProposalCard.tsx
  src/features/voting/ProposalInterestVote.tsx
Due: vitest, docker_eslint, docker_frontend_build

chore: switch to production clerk instance
  src/constants.ts
Due: none

chore: fix lint errors
  src/features/voting/DraftProposalList.tsx
  src/features/voting/ProposalFormButton.tsx
  src/features/voting/ProposalList.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: use production clerk key in deploy action
  .github/workflows/deploy-frontend.yml
Due: none

fix: bad render deps causing rapid rerender
  src/constants.ts
  src/features/voting/ProposalList.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: loosen vote state schema
  public/docs/api/v0/openapi.json
  src/features/voting/ProposalList.tsx
  src/sdk.ts
Due: vitest, docker_eslint, docker_frontend_build

chore(ui): remove avatar from proposals
  src/features/voting/ProposalCard.tsx
Due: vitest, docker_eslint, docker_frontend_build

chore: update open api with winner endpoint
  public/docs/api/v0/openapi.json
Due: none

test: setup testing for react components
  package-lock.json
  package.json
  tests/vitest.setup.ts
  vitest.config.ts
Due: vitest, docker_eslint

chore(ui): voting statistics component
  src/features/voting/VotingStatistics.test.tsx
  src/features/voting/VotingStatistics.tsx
Due: vitest, docker_eslint, docker_frontend_build

chore(ui): winning proposal component
  src/features/voting/WinningProposal.test.tsx
  src/features/voting/WinningProposal.tsx
Due: vitest, docker_eslint, docker_frontend_build

feat: select winner component
  src/features/voting/SelectWinner.tsx
  src/pages/winner.astro
  tailwind.config.mjs
Due: vitest, docker_eslint, docker_frontend_build

chore: update sdk
  src/sdk.ts
Due: none

fix: remove stale displayName
  src/features/voting/ProposalCard.tsx
Due: vitest, docker_eslint, docker_frontend_build

chore: added dark mode styles for winning proposal card
  src/features/voting/VotingStatistics.tsx
  src/features/voting/WinningProposal.tsx
Due: vitest, docker_eslint, docker_frontend_build

chore: add error handler for winner
  src/features/voting/SelectWinner.tsx
Due: vitest, docker_eslint, docker_frontend_build

fix: error handler api reference
  src/features/voting/SelectWinner.tsx
Due: vitest, docker_eslint, docker_frontend_build

hiding proposal route
  src/pages/index.astro
Due: docker_frontend_build

hiding proposal route and package updates
  package-lock.json
  package.json
Due: vitest, docker_eslint
